p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(250, 250, 250);
}