*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(14, 21, 27);
}

.heading {
    color: #fff;
    margin: auto;
    width: 50%;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #44f7c7, rgba(0, 76, 255, 0.59));
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-bottom: 100px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 60px;
    border-radius: 30px;
    padding: 10px 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    margin-top: 5px;
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 700;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.weather h3 {
    margin-top: -5px;
    color: rgb(189, 189, 189)
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind, .feels-like, .sunrise {
    font-size: 18px;
    font-weight: 700;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}