@media screen and (max-width: 600px) {
    body, p {
        font-size: 18px; /* Larger font for mobile */
    }
    .heading {
        font-size: 24px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@keyframes fadeInUp {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

*, html {
    scroll-behavior: smooth !important;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    min-height: 100vh;
    transition: background-color 0.25s, color 0.25s;
    margin: 0;
    padding: 0;
}

.link {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    display: inline-block;
    padding-bottom: 3px; /* Adjust to position the underline */
}

.link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position right at the text bottom */
    width: 100%;
    height: 0.5px; /* Initial thickness */
    background: currentColor;
    transition: transform 0.3s; /* Transition for the transform property */
    transform-origin: left center; /* Ensures the scaling is from the left */
    transform: scaleY(1); /* Initial scale */
}

.link:hover::after {
    transform: scaleY(3); /* Scale up the width on hover */
}

.email {
    display: inline;
    text-decoration-line: underline;
}

.all-content-container {
    flex: 1;
    /* border: 5px solid lightblue; */
}

.dark-mode {
    background-color: rgb(18, 18, 18);
    color: white;
    transition: background-color 0.25s, color 0.25s;
}

.text {
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: inherit;
}

.email {
    width: 12px;
}

.phone {
    width: 10px;
}

.dark-mode .email,
.dark-mode .phone {
    filter: brightness(0) invert(1);
}

.intro-text {
    margin: auto;
    width: 55%;
    min-width: 600px;
    margin-top: 40px;
}
