.logo-link {
    display: inline-block;
    width: 200px;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(43, 43, 43, 0.6));
    margin-top: 20px;
    margin-left: 20px;
}

.logo {
    width: 100%;
}

.logo:hover {
    cursor: pointer;
}

