.projects-container {
    max-width: 800px;
    min-width: 600px;
    margin: auto;
}

.project {
    display: flex;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    border: 1px solid #404040;
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    animation: fadeInUp 1s forwards;

    transition: transform 0.5s;
}

.project:hover {
    transform: scale(1.03);
    cursor: default;
}

.dark-mode .project {
    box-shadow: 0 1px 5px rgba(255,255,255,0.5);
}

.project-media {
    display: flex;
    /* background-color: lightpink; */
    width: 50%;
    justify-content: center;
    align-items: center;
}

.project-media img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto;
    padding: 15px;
    border-radius: 22px;
}

.project:nth-of-type(odd) {
    background: linear-gradient(rgb(18,18,18), #b8b8b8) no-repeat center/1px 100%;      /* Vertical line */
}

.project:nth-of-type(even) {
    background: linear-gradient(#b8b8b8, rgb(18,18,18)) no-repeat center/1px 100%;      /* Vertical line */
}

.project-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 15px;
}

.project-title {
    font-weight: 700;
    font-size: 16px;
    margin-right: 4px;
}

.small-icon {
    display: inline-block;
    width: 15px;
    margin-right: 2px;
    transition: opacity 0.25s;
}

.small-icon:hover {
    opacity: 0.7;
}

.dark-mode .small-icon {
    filter: brightness(0) invert(1);
}

.project-description {
    overflow-y: auto;
    margin-bottom: 15px;
    flex-grow: 1;
}

.skills-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.skill-name {
    font-size: 13px;
    padding: 3px;
    border: 1px solid rgb(75,75,75);
    border-radius: 3px;
    transition: background-color 0.15s;
    color: rgb(75,75,75);
}

.skill-name:hover {
    background-color: #e1e1e1;
    cursor: default;
}

.dark-mode .skill-name {
    border-color: rgb(150,150,150);
    color: rgb(150,150,150);
}

.dark-mode .skill-name:hover {
    background-color: rgb(40,40,40);
}

.all-content-container {
    margin: 10rem 15rem 5rem 15rem;
    /* border: red solid; */
}

.project-heading-container {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    margin-bottom: 5px;
}

.project-heading-container img {
    cursor: pointer;
}

.project-heading {
    font-size: 18px;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin-right: 7px;
}

.gradient-line {
    margin: auto;
    height: 1px;
    width: 90%;
    min-width: 700px;
}

.odd {
    background: linear-gradient(to right, rgb(22, 22, 22), lightgray);
}

.even {
    background: linear-gradient(to left, rgb(22,22,22), lightgray);
}


.dark-mode .odd {
    background: linear-gradient(to right, rgb(35, 35, 35), rgb(135, 135, 135));
}

.dark-mode .even {
    background: linear-gradient(to left, rgb(35,35,35), rgb(135,135,135));
}

.source-code-toolkit {
    display: inline;
    font-size: 10px;
    color: white;
    padding: 2px;
    background-color: rgba(112, 112, 112, 0.547);
    border-radius: 2px;
    margin-left: 5px;

    opacity: 0;
    transition: opacity 0.25s;
}

.small-icon:hover + .source-code-toolkit {
    opacity: 1;
}

.videos-row,
.images-row,
.images-row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;

    margin: auto;
    width: 55%;
    min-width: 650px;
    padding-left: 10px;
    padding-right: 10px;
}

.images-row,
.images-row1 {
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.videos-row video {
    max-height: 375px;
    max-width: 100%;
    width: auto;
    height: auto;
}

.images-row1 {
    justify-content: center;
}

.dark-mode .images-row,
.dark-mode .images-row1,
.dark-mode .videos-row {
    background-color: rgb(27,27,27);
}

.project-image, .project-image-small {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    margin-right: 4px;

    /* outline: 7px solid rgb(229, 229, 229); */
}

.project-image {
    min-width: 250px;
    max-width: 300px;
}

.project-image-small {
    min-width: 150px;
    max-width: 225px;
}

.video {
    min-width: 150px;
    max-width: 250px;
    padding: 10px;
}

.document-portrait, .document-landscape {
    border: 20px solid rgb(246, 246, 246);
    display: block;
    margin: auto;
    margin-top: 10px;
}

.document-landscape {
    width: 540px;
    height: 360px;
}

.document-portrait {
    width: 490px;
    height: 645px;
}

.dark-mode .document-portrait,
.dark-mode .document-landscape {
    border-color: rgb(27,27,27)
}

.download-pdf-button {
    display: inline-flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    border-style: outset;
    font-size: small;

    transition: opacity 0.15s;
}

.dark-mode .download-pdf-button {
    background-color: rgb(64, 64, 64);
    color: white;
    border-color:rgb(133, 133, 133);
}

.dark-mode .download-pdf-button:hover {
    opacity: 0.8;
    cursor: default;
}

.arrow-icon {
    opacity: 0;
    transition: opacity 0.25s;
}
  
#project-link:hover .arrow-icon {
    opacity: 1;
    animation: swooshRight 0.5s forwards;
}

@keyframes swooshRight {
    0% { transform: translateX(-30%); }
    100% { transform: none; }
    
}